/*I will start by using css grid and create my layout before I add all the contents*/

.grid {
  display: grid;
  grid-template-columns: 45% 45%;
}

.grid section:nth-child(even) {
  background-color: gray;
  border: solid;
}